:root {
	--green_03: #007200;
	--green_05: #38B000;

}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


body {
	margin: 0px;
	overflow-x: hidden;
}


h1, h2 {
	text-align: center;
	font-weight: bold;
}

h1 {
	font-size: 40px;
}

.header {
	width: 100vw;
	height: 150px;
	display: flex;
	background-color: var(--green_05);
}

.header-left {
	height: 100%;
	width: 50%;
}

.header-right {
	height: 100%;
	width: 50%;
}

.header-right img {
	float: right;
}


.header img{
	max-width: 75px;
	margin: 10px;
}

.header-search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.header-search {
	background-color: white;
	width: 100%;
	height: 60px;
	border-radius: 15px;
	text-align: center;
}



.filter-parent {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100px;
}

.filter-container {
	display: flex;
}

.filter-items {
	display: flex;
}

.filter-item {
	background-color: green;
	height: 20px;
	width: 100px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}





.catalog-container {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.catalog-item {
	width: 25%;
	min-width: 500px;
	height: 500px;
	margin: 50px;

	text-align: center;


	-webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.75);
}


.catalog-item img {
	width: 100%;
}


.button-container {
	margin-top: 70px;
}

.button-container a{
	padding: 20px;
	background-color: green;

	text-decoration: none;
	color: white;

}